#heading{
    color:darkblue;
    background-color: yellow;
    width: fit-content;
}
#heading2{
    color:darkcyan;
    background-color:lightpink;
    width: fit-content;
}
body{
    background-color: azure;
}
p{
    width: 50%;
    font-size: large;
    background-color:lavender
}
button{
    background-color: blueviolet;
    color: aliceblue;
}
.c1{
    font-family:monospace;
}

#box{
    height: 250px;
    width:100px;
    background-color: chartreuse;
    color:black;
    font-weight:700;
    font-size: medium;
    font-family:monospace;
    border: 1px solid black;
}

.paraClass {
    background-color: lightskyblue !important;
    font-family: monospace !important;
    color: white !important;
}
